.create-menu {
  width: 236px;
  background-color: #bfd2da;
  color: #000;
  min-height: 100vh;
  padding: 0 5px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 60px;
  z-index: 5;
  border-right: 2px solid #A5BBC5;
}

.menu-title {
  margin: 0 0 77px;
  padding: 35px 10px 0 50px;
  font-size: 24px;
  font-weight: bold;
  font-weight: 900;
  font-size: 21.2px;
  line-height: 100%;
  color: #FFF;
}

.menu-section {
  padding: 20px 20px 25px;
  border-bottom: 1px solid #92A0A6;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  }

.header-plus {
  margin-left: auto;
  cursor: pointer;
}

.menu-section ul {
  list-style: none;
  padding: 0 0 0 24px;
  margin: 0;
}

.menu-section ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
  cursor: pointer;
  padding: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.menu-section ul li.selected {
 background: linear-gradient(to right, #ffffff 0%, #F7F7F700 100%);
}

.menu-section ul li span {
  flex: 1;
}

.drag-handle {
  width: 16px;
  height: 16px;
  cursor: grab;
}

.checkbox {
  width: 16px;
  height: 16px;
  position: relative;
}

.white-square {
  width: 16px;
  height: 16px;
}

.check-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
}
.questions-block ul {
  margin: 0;
  padding: 0;
}

.questions-block ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
  cursor: pointer;
  padding: 5px;
}

.questions-block ul li.selected {
 background: linear-gradient(to right, #ffffff 0%, #F7F7F700 100%);
}
.question-label {
  flex: 1;
  padding: 2px 4px;
  border-radius: 2px;
  color: #000;
}

.drag-handle {
  width: 16px;
  height: 16px;
  cursor: grab;
}

.checkbox {
  width: 16px;
  height: 16px;
  position: relative;
}

.white-square {
  width: 16px;
  height: 16px;
}

.check-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
}

