.main-page {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}
.projects-header {
  margin-bottom: 20px;
  display: none;
}
.projects-container {
  display: flex;
  gap: 30px;
}
.project-card {
  width: 170px;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.project-card a {
  text-decoration: none;
  color: #424242;
}
.project-card img {
  max-width: 100%;
  max-height: 70%;
  transition: 0.3s ease;
}
.project-card:hover img {
  transform: scale(1.02);
}
.project-card p {
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
}
