.sidebar {
  background-color: #B6CAD1;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  height: 100vh;
}

.sidebar.open {
  width: 184px; 
}

.sidebar.closed {
  width: 60px; 
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-right: 2px solid #A5BBC5;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px 22px 52px;
}
.sidebar-logo img {
  width: 34px;
  height: 34px;
}
.sidebar.closed .sidebar-logo {
  padding: 10px 15px;
  justify-content: center;
}

.company-name {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-size: 19.5px;
  line-height: 100%;
  color: #9747FF;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin:  0;
  
}

.nav-links li {
  margin: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  padding: 14px 22px 14px 22px;
  transition: 0.2s ease;
  justify-content: flex-start;
  font-size: 13px;
  line-height: 140%;
}
.nav-link .nav-icon {
  width: 17px;
  height: 17px;
}
.nav-link .nav-icon path {
  fill: #FFF;
  transition: 0.2s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #9747FF;
}
.nav-link:hover .nav-icon path,
.nav-link.active .nav-icon path {
  fill: #9747FF;
}

.nav-link img {
  width: 24px;
  height: 24px;
}


.sidebar-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}


.sidebar.closed .nav-link span,
.sidebar.closed .company-name {
  display: none;
  scale: 0;
}
.sidebar .nav-link span {
  scale: 1;
  transition: 0.3s ease;
}
.sidebar.closed .nav-link,
.sidebar.closed .hide-btn {
  justify-content: center;
}

.hide-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #fff !important;
  cursor: pointer;
  padding: 10px 10px;
  transition: 0.3s ease;
  font-size: 10px;
  line-height: 140%;
}
.hide-btn svg path {
  fill: #FFF;
  transition: 0.3s ease;
}
.hide-btn svg {
  transition: 0.3s ease;
}
.sidebar.closed .hide-btn svg {
  transform: scaleX(-1);
}
.hide-btn:hover {
  color: #9747FF !important;
}
.hide-btn:hover svg {
  transform: translateX(-2px);
}
.hide-btn:hover svg path {
  fill: #9747FF;
}
